<div class="chart">
  <div id="chart"></div>
  <div id="chartLine"></div>
</div>
<script>
  async function getData() {
    const response = await axios.post('/api/binance/statistic', {
      symbol: 'BTCUSDT',
    });
    return response.data;
  }


  window.addEventListener('DOMContentLoaded', async (event) => {
    let dataLine = [];
    let dataCandle = [];
    let dataTime = [];
    const response = await getData();
    response.data.map((item) => {
      dataLine.push(item.volume);
      dataCandle.push(
        {
          x: new Date(item.open_time),
          y: [item.open_price * 1, item.high_price * 1, item.low_price * 1, item.close_price * 1],
        }
      )
    })

    var options = {
      series: [

        {
          name: 'candle',
          type: 'candlestick',
          data: dataCandle
        }
      ],
      chart: {
        type: 'candlestick',
        height: 350
      },
      title: {
        text: 'CandleStick Chart',
        align: 'left'
      },
      xaxis: {
        type: 'datetime'
      },
      yaxis: {
        tooltip: {
          enabled: true
        }
      }
    };

    var optionsLine = {
      series: [{
        name: "Volume",
        data: dataLine
      }],
      chart: {
        height: 350,
        type: 'line',
        zoom: {
          enabled: true
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'straight'
      },
      title: {
        text: 'Volume Chart',
        align: 'left'
      },
      grid: {
        row: {
          colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
          opacity: 0.5
        },
      },
      xaxis: {
        categories: dataTime,
      }
    };

    var chartLine = new ApexCharts(document.querySelector("#chartLine"), optionsLine);
    chartLine.render();

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
  }
  );


</script>